* {

    color: #484848;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/*****************************************************************************
****************************** debut style partie header*********************/




header .barreduhaut {
    height: 16%;
    display: flex;
}

header img {
    margin-right: 60%;
    height: 5%;
    width: 3%;
    margin-left: 1%;
    margin-top: 1%;
}

header .menu1 {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 1.43;
}

.menu2 {
  margin-left: 3%;
    margin-top: 5%;
    font-size: 12px;
    font-weight: 700;
}

a {
    color: #484848;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu2 :active {
    text-decoration: underline;
    color: #008489;
}

nav ul li {
    padding: 15px;
    list-style: none;
    display: inline;
}

h1 {
    position: relative;
    left: 8%;
    font-size: 44px;
    font-weight: normal;
    line-height: 56px;
    width: 50%;
    margin-top: 4%;
    margin-bottom: 5%;
}

h1 strong {
    color: #ff5a5f;
    font-weight: bold;
}

.date, .recherche, .nbvoyageur {
    padding-left: 1%;
}

header label {
    margin-top: 1%;
}

header input, header select {
    color: #767676;
    opacity: 1;
    font-size: 19px;
}

.date, .recherche {
    box-sizing: border-box;
    border-right: 0.2px solid silver;
}

.barre-de-recherche {
  box-shadow: 0 2px 2px 0 ;
    border: 0.2px solid silver;
    border-radius: 4px;
    display: flex;
    width: 85%;
    height: auto;
    margin: 0 auto;
    justify-content: space-between;
}

header section div, form {
    width: 33.3%;
}

header select, input {
    width: 98%;
    height: 50px;
    border: none;
    background-color: white;
}

.nbvoyageur , .Destination , .Logements {
    display: flex;
}

.selection, .grandboutton {
    width: 50%;
}

button {
    background: #ff5a5f none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    float: right;
    font-size: 19px;
    height: 48px;
    line-height: 15px;
    margin: 12px 12px 12px 16px;
    padding: 0 18px;
    text-align: center;
}



/**********************************************fin de partie header***********************************************
******************************************************************************************************************/




/***************************************debut partie corps de pages************************************************
*******************************************************************************************************************/


main{
  margin: 5% 5% auto;
}




 figure {

  display: inline-block;
  margin: 0 auto;
}
.reservé div, .experience div   {
  vertical-align: top;
  display: inline-block;
  margin-top: 1%;
  margin-left: 1%;
  width: 18%;
  justify-content: space-between;
}
/*bug a regler */
.Destination div  {
  width: 15%;
  justify-content: space-around;
  margin: 0 auto;
}
.Logements  {

  display: flex;
  justify-content: space-around;
  height: 400px;
}
.Logements div {

  height: 300px;
  margin-top: 25%;
}

/*bug a regler ci dessus*/
.estimer{
  margin-top: 5%;
  justify-content: space-between;
  display: flex;
}
 .estimer-revenu  {

  width: 40%;
  display: inline-block;
  vertical-align: top;
}
.image {
  display: inline-block;
}
.partie1{
  font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 36px;
    margin: 0;
    padding-bottom: 2px;
    padding-top: 2px;
}
.partie2 {
  margin-top: 2%;
  font-size: 19px;
    font-weight: 300;
    line-height: 24px;


    padding-bottom: 0;
    padding-top: 0;
}
main button {
  background: #008489 none repeat scroll 0 0;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    min-width: 51.7771px;
    padding: 8px 16px;
    position: relative;
    width: auto;
    height: auto;
   right: 60%;
}



/******************partie bas footer *******************************
*********************************************************************/
